.screen {
  &.active {
    & .intro__message {
      @include blockAppereanceAfter;
    }
  }
}

.swiper-slide-active {
  & .slider__item-text {
    opacity: 1;
    transform: translate(0);
    transition-delay: .3s;
  }
}
.swiper-slide-next {
  & .slider__item-text {
    opacity: 1;
    transform: translate(0);
    transition-delay: .6s;
  }
}
